<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGBcU8oqSSpIiH_qAD5VfvuJ_zWtXzUkA</string>
	<key>GCM_SENDER_ID</key>
	<string>989836224616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoUsers.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-9624c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-9624c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989836224616:ios:9f2b229f53d1de507573dd</string>
</dict>
</plist>